/**
 * => Header & Footer
 *
 * footer: 40px
 * header: 60px
 *
 * => Media Queries(1em = 16px)
 *
 * 0 - 600px:       PHONE(xsmall)
 * 600 - 900px:     TABLET PORTRAIT(small)
 * 900 - 1200px:    TABLET LANDSCAPE(medium)
 * 1200 - 1800px:   NORMAL LAPTOP(large)
 * 1800 - INFINITY: BIG DESKTOP(xlarge)
 *
*/
$font-small-size: 1.2rem;
$font-medium-size: 1.4rem;
$font-default-size: 1.6rem;
$font-primary: "Mulish", sans-serif;
$font-display: 'Lobster Two', cursive;

$color-base: #fefefe;
$color-muted: #aea4a4;
$color-default: #464646;
$color-primary: #bd1717;
$color-secondary: #0dbda2;
$color-gray4pc: darken($color-base, 4%);
$color-primary-10pc: lighten($color-primary, 10%);
$color-primary-20pc: lighten($color-primary, 20%);
$color-primary-30pc: lighten($color-primary, 30%);
$color-primary-40pc: lighten($color-primary, 40%);
$color-primary-50pc: lighten($color-primary, 50%);
$color-secondary-10pc: lighten($color-secondary, 10%);
$color-secondary-20pc: lighten($color-secondary, 20%);
$color-secondary-30pc: lighten($color-secondary, 30%);
$color-secondary-40pc: lighten($color-secondary, 40%);
$color-secondary-50pc: lighten($color-secondary, 50%);

$shadow-default: -0.2rem 0.6rem 1rem 0 rgba($color-default, 0.16);
$shadow-primary: -0.2rem 0.6rem 1rem 0 rgba($color-primary, 0.16);
$shadow-secondary: -0.2rem 0.6rem 1rem 0 rgba($color-secondary, 0.16);

$gutter-col: 2rem;
$gutter-row: 2rem;

$columns: 12;

$breakpoints: (
  "xsmall": (
    max-width: 37.5em,
  ),
  "small": (
    max-width: 56.25em,
  ),
  "medium": (
    max-width: 75em,
  ),
  "xlarge": (
    min-width: 112.5em,
  ),
);
