.text-muted {
  color: $color-muted !important;
}

.text-primary {
  color: $color-primary !important;
}

.text-secondary {
  color: $color-secondary !important;
}

.text-center {
  text-align: center !important;
}

.mt-10 {
  margin-top: 1rem !important;
}

.mt-15 {
  margin-top: 1.5rem !important;
}

.mt-20 {
  margin-top: 2rem !important;
}

.mt-30 {
  margin-top: 3rem !important;
}

.mt-40 {
  margin-top: 4rem !important;
}

.mr-10 {
  margin-right: 1rem !important;
}

.mr-15 {
  margin-right: 1.5rem !important;
}

.mr-20 {
  margin-right: 2rem !important;
}

.mr-30 {
  margin-right: 3rem !important;
}

.mr-40 {
  margin-right: 4rem !important;
}

.mb-10 {
  margin-bottom: 1rem !important;
}

.mb-15 {
  margin-bottom: 1.5rem !important;
}

.mb-20 {
  margin-bottom: 2rem !important;
}

.mb-30 {
  margin-bottom: 3rem !important;
}

.mb-40 {
  margin-bottom: 4rem !important;
}

.ml-10 {
  margin-left: 1rem !important;
}

.ml-15 {
  margin-left: 1.5rem !important;
}

.ml-20 {
  margin-left: 2rem !important;
}

.ml-30 {
  margin-left: 3rem !important;
}

.ml-40 {
  margin-left: 4rem !important;
}
