.dshb-info {
  padding: 10rem 0;

  &__timer {
    margin-bottom: 6rem;
  }

  &__name-card {
    .card__body {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-flow: row wrap-reverse;

      @include respond-to("xsmall") {
        gap: 2rem;
        justify-content: center;
      }
    }
  }

  &__name-card-link {
    color: $color-secondary;
  }

  &__name-card-img {
    font-style: normal;
    display: inline-block;
    color: $color-primary;
    font-size: 15rem;

    &::before {
      width: 1em;
      height: 1em;
      content: "";
      display: block;
      color: inherit;
      mask-size: 1em;
      mask-position: center;
      mask-repeat: no-repeat;
      background-color: currentColor;
      mask-image: url(../images/svg/gift-box.svg);
    }
  }

  &__wishlist-card {
    position: relative;
    
    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    .card__body {
      padding: 0;
      display: flex;
      align-items: center;

      @include respond-to("xsmall") {
        flex-direction: column;
      }
    }
  }

  &__wishlist-card-img {
    width: 10rem;
    height: 10rem;
    display: block;
    object-fit: cover;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;

    @include respond-to("xsmall") {
      width: 100%;
      height: 20rem;
      border-top-left-radius: 0.6rem;
      border-top-right-radius: 0.6rem;
      border-bottom-left-radius: 0;
    }
  }

  &__wishlist-card-content {
    flex: 1;
    padding: 0 4rem;

    @include respond-to("xsmall") {
      padding: 2rem;
      width: 100%;
    }
  }

  &__wishlist-card-title {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    font-size: $font-default-size;
    font-weight: 700;

    @include respond-to("xsmall") {
      gap: 0.5rem;
    }
  }
}

.dshb-elves {
  padding-bottom: 10rem;

  &__title {
    margin-bottom: 4rem;
  }

  &__actions {
    margin-bottom: 4rem;
  }

  &__table-img {
    width: 10rem;
    height: 10rem;
    display: block;
    object-fit: cover;
    clip-path: circle(50%);
  }

  &__actions {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;

    @include respond-to("small") {
      gap: 2rem;
    }
  }

  &__actions-left {
    @include respond-to("xsmall") {
      div:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }

  &__actions-right {
    .form__field {
      display: inline-block;

      .form__field-control {
        width: auto;
      }
    }

    @include respond-to("xsmall") {
      div:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }
}
